PROJECT_DIRECTORY="/"
LOG_FILE="${PROJECT_DIRECTORY}private/logs/app.log"
LOG_LEVEL="debug"

APP_CONFIG="${PROJECT_DIRECTORY}private/src/App/config/example.json"

# DATABASE_TYPE=sqlite
# DATABASE_NAME="${PROJECT_DIRECTORY}private/src/App/database/database.sqlite"

WEB_ROOT="https://example.com/"
API_ROOT="api/"

WEB_POST_ROOT_PATH="${WEB_ROOT}"
WEB_POST_ROOT_ID="${WEB_ROOT}posts/"

POSTS_DIRECTORY="${PROJECT_DIRECTORY}private/Posts/"
POSTS_CONTAINER_TYPE="filesystem"